.footer {
    text-align: center;
    height: 5vh;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.footer-content a {
    color: #6c757d;
}

.footer-bottom {
    font-size: 14px;
    color: #6c757d;
}

.footer-bottom p {
    margin: 0;
}
